[user]
  name  = rfoster
  email = 
[http]
  postBuffer = 157286400
[diff]
  trustExitCode = true
  prompt = false
  tool = meld
[difftool "meld"]
  trustExitCode = true
  prompt = false
  external = C:/bin/Meld/Meld.exe "$LOCAL" "$REMOTE"
  cmd = C:/bin/Meld/Meld.exe "$LOCAL" "$REMOTE"
[merge]
  tool = meld
[mergetool "meld"]
  trustExitCode = true
  prompt = false
  cmd = C:/bin/Meld/meld.exe  "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
